<template name="layout">
    <div class="row show-grid">
        <div class="span10 offset1">
            {{#with player3}}
                {{> hand}}
            {{/with}}
        </div>
    </div>
    <div class="row show-grid">
        <div class="span1">
            {{#with player4}}
                {{> hand}}
            {{/with}}
        </div>
        <div class="span10"></div>
        <div class="span1">
            {{#with player2}}
                {{> hand}}
            {{/with}}
        </div>
    </div>
    <div class="row show-grid">
        <div class="span10 offset1">
            {{#with player1}}
                {{> hand}}
            {{/with}}
        </div>
    </div>
</template>
